zeyrek-web/ZeyrekWeb/ZeyrekWeb/Web References/BusServiceWebReference/GetBusService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getBusServiceList">
        <s:complexType />
      </s:element>
      <s:element name="getBusServiceListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getBusServiceListResult" type="tns:ArrayOfZBusSrv" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfZBusSrv">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ZBusSrv" nillable="true" type="tns:ZBusSrv" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ZBusSrv">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ServisGuzergahi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Plaka" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SurucuAd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SurucuTel" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getBusServiceListSoapIn">
    <wsdl:part name="parameters" element="tns:getBusServiceList" />
  </wsdl:message>
  <wsdl:message name="getBusServiceListSoapOut">
    <wsdl:part name="parameters" element="tns:getBusServiceListResponse" />
  </wsdl:message>
  <wsdl:portType name="GetBusServiceSoap">
    <wsdl:operation name="getBusServiceList">
      <wsdl:input message="tns:getBusServiceListSoapIn" />
      <wsdl:output message="tns:getBusServiceListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetBusServiceSoap" type="tns:GetBusServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getBusServiceList">
      <soap:operation soapAction="http://tempuri.org/getBusServiceList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetBusServiceSoap12" type="tns:GetBusServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getBusServiceList">
      <soap12:operation soapAction="http://tempuri.org/getBusServiceList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetBusService">
    <wsdl:port name="GetBusServiceSoap" binding="tns:GetBusServiceSoap">
      <soap:address location="http://192.168.0.154/GetBusService.asmx" />
    </wsdl:port>
    <wsdl:port name="GetBusServiceSoap12" binding="tns:GetBusServiceSoap12">
      <soap12:address location="http://192.168.0.154/GetBusService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>