SelfAdmin/TrayIcon/Web References/ZWebServiceSerial/InsertSerial.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SetSerial">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serial" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSerialResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SetSerialSoapIn">
    <wsdl:part name="parameters" element="tns:SetSerial" />
  </wsdl:message>
  <wsdl:message name="SetSerialSoapOut">
    <wsdl:part name="parameters" element="tns:SetSerialResponse" />
  </wsdl:message>
  <wsdl:portType name="InsertSerialSoap">
    <wsdl:operation name="SetSerial">
      <wsdl:input message="tns:SetSerialSoapIn" />
      <wsdl:output message="tns:SetSerialSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InsertSerialSoap" type="tns:InsertSerialSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetSerial">
      <soap:operation soapAction="http://tempuri.org/SetSerial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InsertSerialSoap12" type="tns:InsertSerialSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetSerial">
      <soap12:operation soapAction="http://tempuri.org/SetSerial" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InsertSerial">
    <wsdl:port name="InsertSerialSoap" binding="tns:InsertSerialSoap">
      <soap:address location="http://192.168.0.154/InsertSerial.asmx" />
    </wsdl:port>
    <wsdl:port name="InsertSerialSoap12" binding="tns:InsertSerialSoap12">
      <soap12:address location="http://192.168.0.154/InsertSerial.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>