zeyrek-web/ZeyrekWeb/ZeyrekWeb/Web References/TaskWebReference/ReadTask.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ZReadTask">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZReadTaskResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZReadTaskResult" type="tns:ArrayOfZTask" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfZTask">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ZTask" nillable="true" type="tns:ZTask" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ZTask">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Comment" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EndDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Source" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="User_" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ZReadTaskSoapIn">
    <wsdl:part name="parameters" element="tns:ZReadTask" />
  </wsdl:message>
  <wsdl:message name="ZReadTaskSoapOut">
    <wsdl:part name="parameters" element="tns:ZReadTaskResponse" />
  </wsdl:message>
  <wsdl:portType name="ReadTaskSoap">
    <wsdl:operation name="ZReadTask">
      <wsdl:input message="tns:ZReadTaskSoapIn" />
      <wsdl:output message="tns:ZReadTaskSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ReadTaskSoap" type="tns:ReadTaskSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZReadTask">
      <soap:operation soapAction="http://tempuri.org/ZReadTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ReadTaskSoap12" type="tns:ReadTaskSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZReadTask">
      <soap12:operation soapAction="http://tempuri.org/ZReadTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReadTask">
    <wsdl:port name="ReadTaskSoap" binding="tns:ReadTaskSoap">
      <soap:address location="http://192.168.0.154/ReadTask.asmx" />
    </wsdl:port>
    <wsdl:port name="ReadTaskSoap12" binding="tns:ReadTaskSoap12">
      <soap12:address location="http://192.168.0.154/ReadTask.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>