zeyrek-web/ZeyrekWeb/ZeyrekWeb/Web References/PasswordWebReference/PasswordOperations.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="setPasswordQ">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="question1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="question2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="question3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="answer1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="answer2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="answer3" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setPasswordQResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="setPasswordQResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPasswordQ">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPasswordQResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPasswordQResult" type="tns:ZPassword" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ZPassword">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Question1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Question2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Question3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Answer1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Answer2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Answer3" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SetTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="GetTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="FalseRequestCount" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="setPasswordQSoapIn">
    <wsdl:part name="parameters" element="tns:setPasswordQ" />
  </wsdl:message>
  <wsdl:message name="setPasswordQSoapOut">
    <wsdl:part name="parameters" element="tns:setPasswordQResponse" />
  </wsdl:message>
  <wsdl:message name="getPasswordQSoapIn">
    <wsdl:part name="parameters" element="tns:getPasswordQ" />
  </wsdl:message>
  <wsdl:message name="getPasswordQSoapOut">
    <wsdl:part name="parameters" element="tns:getPasswordQResponse" />
  </wsdl:message>
  <wsdl:portType name="PasswordOperationsSoap">
    <wsdl:operation name="setPasswordQ">
      <wsdl:input message="tns:setPasswordQSoapIn" />
      <wsdl:output message="tns:setPasswordQSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPasswordQ">
      <wsdl:input message="tns:getPasswordQSoapIn" />
      <wsdl:output message="tns:getPasswordQSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PasswordOperationsSoap" type="tns:PasswordOperationsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="setPasswordQ">
      <soap:operation soapAction="http://tempuri.org/setPasswordQ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPasswordQ">
      <soap:operation soapAction="http://tempuri.org/getPasswordQ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PasswordOperationsSoap12" type="tns:PasswordOperationsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="setPasswordQ">
      <soap12:operation soapAction="http://tempuri.org/setPasswordQ" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPasswordQ">
      <soap12:operation soapAction="http://tempuri.org/getPasswordQ" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PasswordOperations">
    <wsdl:port name="PasswordOperationsSoap" binding="tns:PasswordOperationsSoap">
      <soap:address location="http://192.168.0.154/PasswordOperations.asmx" />
    </wsdl:port>
    <wsdl:port name="PasswordOperationsSoap12" binding="tns:PasswordOperationsSoap12">
      <soap12:address location="http://192.168.0.154/PasswordOperations.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>